<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Consulta marcada</title>
</head>
<body>
<div style="font-family: Arial, sans-serif; padding: 20px; border: 1px solid #ccc;">
    <p>Prezado(a) <span th:text="${nomeEspecialista}"></span>,</p>

    <p>Você recebeu uma nova notificação do sistema CarePlus:</p>

    <div style="margin: 15px 0; padding: 15px; background-color: #f0f8ff; border-left: 5px solid #007bff;">
        Esse email é para lhe informa que uma nova consulta foi marcada.
        No <span th:utext="${dataHoraConsulta}"></span>, você tera uma consulta com <span th:utext="${paciente}"></span>.
        Mantenha o status da consulta atualizado, atualmente está <span th:utext="${status}"></span>.
    </div>

    <p>Agradecemos a atenção.</p>
    <p>Atenciosamente,<br>Equipe CarePlus</p>
    <img src="/images/Captura%20de%20tela%202025-10-11%20230528.png">

    <hr style="border: none; border-top: 1px solid #eee;">
    <p style="font-size: 10px; color: #777;">Este é um e-mail automático. Por favor, não responda.</p>
</div>
</body>
</html>